body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: black;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid grey;
}

#counterShow {
  font-size: 20rem;
  white-space: nowrap;
  color: grey;
}
