body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid grey;
  background: black;
}

#counterView {
  color: grey;
  white-space: nowrap;
}
